.mainWrapper {
  display: flex;
  align-items: center;
  margin: 20px;
  flex-direction: column;
}
.mainContent {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(18px);
  border-radius: 10px;
  max-width: 1200px;
  width: 100%;
  color: aliceblue;
}

.header {
  border-radius: 10px 10px 0 0;
  background-color: white;
  color: #444;
  padding: 20px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 2;
}

.contentWrapper {
  border-radius: 10px;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
