.banner {
  padding: 1em;
  @apply bg-accent-light;
  border-radius: 25px 0 / 7px 0;
  color: #fff;
  background-image: linear-gradient(
    130deg,
    #00000060 0,
    #00000000 15%,
    #00000040 50%,
    #00000010 75%,
    #00000050 100%
  );
}

.date {
  @apply flex flex-col items-center;
}

.day {
  @apply text-3xl font-bold text-center;
}

.month {
  @apply m-0;
}
