@layer tailwind-base, tailwind-components, my-custom-styles;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-components {
  @tailwind components;
}

@tailwind utilities;

html {
  background-image: url('/images/musical_notes_2.jpg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  background-attachment: fixed;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--tg-theme-bg-color);
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.citazioni {
  blockquote {
    margin: 0 0 1em;
  }
  > p {
    font-style: italic;
    opacity: 0.8;
    font-size: 0.8em;
    text-align: right;
  }
}

.MD {
  p + p {
    line-height: 1.5;
    margin-top: 1.5em;
  }
}
