@layer tailwind-base, tailwind-components, my-custom-styles;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-components {
  @tailwind components;
}

@tailwind utilities;

html {
  --line-clamp: 3;
  --accent: #ff6100;
  --accent-50: #ff610050;
  --accent-light: #ffb700;
  --accent-light-50: #ffb70050;
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--tg-theme-bg-color);
}

@layer my-custom-styles {
  button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: inherit;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl text-accent-light;
  }

  h4 {
    @apply text-xl font-semibold;
  }

  .MD {
    h1 {
      @apply mb-4;
    }

    h2 {
      @apply mb-4;
    }

    h3 {
      @apply mb-4;
    }

    h4 {
      @apply mb-4;
    }
  }
  .citazioni {
    blockquote {
      margin: 0 0 1em;
    }
    > p {
      font-style: italic;
      opacity: 0.8;
      font-size: 0.8em;
      text-align: right;
    }
  }

  .multiline-ellipsis {
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp);
    white-space: pre-wrap; /* let the text wrap preserving spaces */
  }

  .highlighted {
    position: relative;
    border: 1px solid var(--accent-light-50);
    background-color: rgba(0, 0, 0, 0.3);
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 3em;
      height: 3em;
      @apply border-accent-light border-solid;
    }

    &:before {
      border-width: 10px 0 0 10px;
    }
    &:after {
      top: auto;
      left: auto;
      right: 0;
      bottom: 0;
      border-width: 0 10px 10px 0;
    }
  }
}
